

figure.snip1105 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  height: 30rem;
  color: #ffffff;
  text-align: center;
}

#smallerheight {
  height: 14.4rem;
}

#smallerheight h22 {
  background-color: #0072ce;
}


figure.snip1105 * {
  -webkit-transition: all 1.1s ease-in-out;
  transition: all 1.1s ease-in-out;
}

figure.snip1105.bg1 {
  position: relative;
  background: url(img_1.jpg) no-repeat bottom left;
  background-size: cover;
  opacity: 1;
  width: 100%;
  transition: all 1s;
}
figure.snip1105.bg2 {
  background: url(img_2.jpg) no-repeat bottom left;
  background-size: cover;
   opacity: 1;
   width: auto;
   transition: all 1s;
 }
 figure.snip1105.bg3 {
  background: url(img_3.jpg) no-repeat bottom left;
  background-size: cover;
   opacity: 1;
   width: auto;
   transition: all 1s;
 }
 figure.snip1105.bg4 {
  background: url(img_4.jpg) no-repeat bottom left;
  background-size: cover;
   opacity: 1;
   width: auto;
   transition: all 1s;
 }
 figure.snip1105.bg5 {
  background: url(img_5.jpg) no-repeat bottom left;
  background-size: cover;
   opacity: 1;
   width: auto;
   transition: all 1s;
 }
figure.snip1105 h22 {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
figure.snip1105 figcaption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
figure.snip1105 h22 {
  position: absolute;
  left: 5%;
  right: 5%;
  color: white;
  font-size: 2rem;
  padding: 2rem 2rem;
  border-radius: 2em;
  top: 2em;
  font-weight: 100;
  opacity:0.95; 
}
figure.snip1105 h33 {
  position: absolute;
  left: 10%;
  right: 10%;
  background-image: linear-gradient(#e6e8ea,#e8eaec);
  color: black;
  font-size: 1rem;
  padding: 12px 10px;
  margin: 0;
  top: 0%;
  opacity: 0
}
@media only screen and (max-width: 1800px) {
  figure.snip1105 h33 { 
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 1750px) {
  figure.snip1105 h33 { 
    font-size: 0.75rem;
    color: black;
    top: -0.5 rem;
  }
}
@media only screen and (max-width: 1300px) {
  figure.snip1105 {
    height: 15em;
  }
  figure.snip1105 h22 {
    font-size: 1rem;
  }
  figure.snip1105 h33 { 
    font-size: 0.6rem;
    color: black;
    top: -1.5 rem;
  }
  #smallerheight {
    height: 7rem;
  }
  #smallerheight h22 {
    font-size: 0.8rem;
    padding: 1rem 1rem;
  }
}
@media only screen and (max-width: 1200px) {
  figure.snip1105 {
    height: 10em;
  }
  #smallerheight {
    height: 9rem;
  }
  
}

@media only screen and (max-width: 1000px) {
  figure.snip1105 {
    height: 5rem;
    color: #ffffff;
    text-align: center;
    }
    #smallerheight {
      height: 5rem;
    }
    figure.snip1105 h22 {
    font-size: 1rem;
    left: 5%;
    right: 5%;
    padding: 0.8rem 0.8rem;
    border-radius: 4em 8em;
    top: 1em;
    font-weight: 200;
    opacity:1; 
    }
    figure.snip1105 h33 { 
  font-size: 0.4rem;
  color: black;
  top: -1 rem;
    }
}



/* Creation and Position of New Black Text Box */
/* Color of New Black Text Box */
figure.snip1105 h33 {
  background-image: black
  opacity: 0.5
}
figure.snip1105:hover {
  transform:scale(1.03);
}
figure.snip1105:hover h22,
figure.snip1105.hover h22 {
  -webkit-transform: translate(0%, 400%);
  opacity: 0;
  transform:translate(0%, 400%);
}


#smallerheight:hover h22,
#smallerheight.hover h22 {
  -webkit-transform: translate(0%, 0%);
  opacity: 1;
  transform:translate(0%, 0%);
}
#smallerheight:hover h22 {
  background-color: #283570;
  border: 3px white solid;
  color: black;
  opacity: 1;
  transform:scale(1.03);
}
/* Movement of New Black Text Box */
figure.snip1105:hover h33,
figure.snip1105.hover h33 {
  -webkit-transform: translate(0%, 25%) opacity ease-in 1s;
      opacity: 1;
  transform:translate(0%, 25%);
}

figure.snip1105:hover:before,
figure.snip1105.hover:before {

}



















